[submodule "alias"]
	path = alias
	url = ../../../mirror/sakai/alias.git
[submodule "announcement"]
	path = announcement
	url = ../../../mirror/sakai/announcement.git
[submodule "archive"]
	path = archive
	url = ../../../mirror/sakai/archive.git
[submodule "assignment"]
	path = assignment
	url = ../../../mirror/sakai/assignment.git
[submodule "authz"]
	path = authz
	url = ../authz.git
[submodule "blog"]
	path = blog
	url = ../../../mirror/sakai/blog.git
[submodule "calendar"]
	path = calendar
	url = ../calendar.git
[submodule "chat"]
	path = chat
	url = ../../../mirror/sakai/chat.git
[submodule "citations"]
	path = citations
	url = ../../../mirror/sakai/citations.git
[submodule "cluster"]
	path = cluster
	url = ../../../mirror/sakai/cluster.git
[submodule "component"]
	path = component
	url = ../component.git
[submodule "content"]
	path = content
	url = ../content.git
[submodule "content-review"]
	path = content-review
	url = ../../../mirror/sakai/content-review.git
[submodule "courier"]
	path = courier
	url = ../../../mirror/sakai/courier.git
[submodule "course-management"]
	path = course-management
	url = ../../../mirror/sakai/course-management.git
[submodule "dav"]
	path = dav
	url = ../dav.git
[submodule "db"]
	path = db
	url = ../../../mirror/sakai/db.git
[submodule "entity"]
	path = entity
	url = ../entity.git
[submodule "event"]
	path = event
	url = ../../../mirror/sakai/event.git
[submodule "gradebook"]
	path = gradebook
	url = ../../../mirror/sakai/gradebook.git
[submodule "help"]
	path = help
	url = ../help.git
[submodule "jcr"]
	path = jcr
	url = ../../../mirror/sakai/jcr.git
[submodule "jobscheduler"]
	path = jobscheduler
	url = ../../../mirror/sakai/jobscheduler.git
[submodule "jsf"]
	path = jsf
	url = ../../../mirror/sakai/jsf.git
[submodule "linktool"]
	path = linktool
	url = ../../../mirror/sakai/linktool.git
[submodule "login"]
	path = login
	url = ../login.git
[submodule "mailarchive"]
	path = mailarchive
	url = ../mailarchive.git
[submodule "master"]
	path = master
	url = ../master.git
[submodule "message"]
	path = message
	url = ../../../mirror/sakai/message.git
[submodule "metaobj"]
	path = metaobj
	url = ../../../mirror/sakai/metaobj.git
[submodule "msgcntr"]
	path = msgcntr
	url = ../../../mirror/sakai/msgcntr.git
[submodule "osp"]
	path = osp
	url = ../../../mirror/sakai/osp.git
[submodule "podcasts"]
	path = podcasts
	url = ../../../mirror/sakai/podcasts.git
[submodule "portal"]
	path = portal
	url = ../portal.git
[submodule "postem"]
	path = postem
	url = ../../../mirror/sakai/postem.git
[submodule "presence"]
	path = presence
	url = ../../../mirror/sakai/presence.git
[submodule "presentation"]
	path = presentation
	url = ../../../mirror/sakai/presentation.git
[submodule "privacy"]
	path = privacy
	url = ../../../mirror/sakai/privacy.git
[submodule "profile"]
	path = profile
	url = ../profile.git
[submodule "providers"]
	path = providers
	url = ../providers.git
[submodule "reference"]
	path = reference
	url = ../reference.git
[submodule "reports"]
	path = reports
	url = ../../../mirror/sakai/reports.git
[submodule "reset-pass"]
	path = reset-pass
	url = ../../../mirror/sakai/reset-pass.git
[submodule "rights"]
	path = rights
	url = ../../../mirror/sakai/rights.git
[submodule "roster"]
	path = roster
	url = ../roster.git
[submodule "rwiki"]
	path = rwiki
	url = ../rwiki.git
[submodule "sakai-mock"]
	path = sakai-mock
	url = ../../../mirror/sakai/sakai-mock.git
[submodule "sam"]
	path = sam
	url = ../sam.git
[submodule "samples"]
	path = samples
	url = ../../../mirror/sakai/samples.git
[submodule "search"]
	path = search
	url = ../search.git
[submodule "sections"]
	path = sections
	url = ../../../mirror/sakai/sections.git
[submodule "site"]
	path = site
	url = ../site.git
[submodule "site-manage"]
	path = site-manage
	url = ../site-manage.git
[submodule "syllabus"]
	path = syllabus
	url = ../../../mirror/sakai/syllabus.git
[submodule "test-harness"]
	path = test-harness
	url = ../../../mirror/sakai/test-harness.git
[submodule "textarea"]
	path = textarea
	url = ../../../mirror/sakai/textarea.git
[submodule "tool"]
	path = tool
	url = ../tool.git
[submodule "user"]
	path = user
	url = ../user.git
[submodule "util"]
	path = util
	url = ../../../mirror/sakai/util.git
[submodule "velocity"]
	path = velocity
	url = ../velocity.git
[submodule "warehouse"]
	path = warehouse
	url = ../../../mirror/sakai/warehouse.git
[submodule "web"]
	path = web
	url = ../../../mirror/sakai/web.git
[submodule "webservices"]
	path = webservices
	url = ../../../mirror/sakai/webservices.git
[submodule "mailtool"]
	path = mailtool
	url = ../../../mirror/sakai/mailtool.git
[submodule "usermembership"]
	path = usermembership
	url = ../../../mirror/sakai/usermembership.git
[submodule "polls"]
	path = polls
	url = ../../../mirror/sakai/polls.git
[submodule "access"]
	path = access
	url = ../access.git
[submodule "entitytbroker"]
	path = entitytbroker
	url = ../../../mirror/sakai/entitybroker.git
[submodule "entitybroker"]
	path = entitybroker
	url = ../../../mirror/sakai/entitybroker.git
[submodule "email"]
	path = email
	url = ../email.git
[submodule "memory"]
	path = memory
	url = ../memory.git
[submodule "hierarchy"]
	path = hierarchy
	url = ../../../mirror/hierarchy.git
[submodule "signup"]
	path = signup
	url = ../../../mirror/signup.git
[submodule "sitestats"]
	path = sitestats
	url = ../../../mirror/sitestats.git
[submodule "test-center"]
	path = test-center
	url = ../../../mirror/test-center.git
[submodule "melete"]
	path = melete
	url = ../../../mirror/melete.git
[submodule "evaluation"]
	path = evaluation
	url = ../../../mirror/evaluation.git
[submodule "tetraelf-hierarchy"]
	path = tetraelf-hierarchy
	url = ../../../mirror/tetraelf-hierarchy
[submodule "test-center/ambrosia"]
	path = test-center/ambrosia
	url = ../../../mirror/ambrosia.git
[submodule "test-center/mneme"]
	path = test-center/mneme
	url = ../../../mirror/mneme.git
