# Corporate POM
[submodule "master"]
	path = master
	url = ../wl-master.git
	branch = sakai-10.x

# Core services
[submodule "kernel"]
	path = kernel
	url = ../wl-kernel.git
	branch = sakai-10.x
[submodule "common"]
	path = common
	url = ../../sakai-mirror/common.git
	branch = sakai-10.x
[submodule "content-review"]
	path = content-review
	url = ../../sakai-mirror/content-review.git
	branch = sakai-10.x
[submodule "edu-services"]
	path = edu-services
	url = ../../sakai-mirror/edu-services.git
	branch = sakai-10.x
[submodule "emailtemplateservice"]
	path = emailtemplateservice
	url = ../../sakai-mirror/emailtemplateservice.git
	branch = sakai-10.x
[submodule "entitybroker"]
	path = entitybroker
	url = ../wl-entitybroker.git
	branch = sakai-10.x
[submodule "external-calendaring-service"]
	path = external-calendaring-service
	url = ../wl-external-calendaring-service.git
	branch = sakai-10.x
[submodule "jobscheduler"]
	path = jobscheduler
	url = ../wl-jobscheduler.git
	branch = sakai-10.x
[submodule "jsf"]
	path = jsf
	url = ../wl-jsf.git
	branch = sakai-10.x
[submodule "sakai-mock"]
	path = sakai-mock
	url = ../wl-sakai-mock.git
	branch = sakai-10.x
[submodule "userauditservice"]
	path = userauditservice
	url = ../../sakai-mirror/userauditservice.git
	branch = sakai-10.x
[submodule "webservices"]
	path = webservices
	url = ../../sakai-mirror/webservices.git
	branch = sakai-10.x

# Core Sakai Tools
[submodule "access"]
	path = access
	url = ../wl-access.git
	branch = sakai-10.x
[submodule "alias"]
	path = alias
	url = ../../sakai-mirror/alias.git
	branch = sakai-10.x
[submodule "announcement"]
	path = announcement
	url = ../wl-announcement.git
	branch = sakai-10.x
[submodule "archive"]
	path = archive
	url = ../../sakai-mirror/archive.git
	branch = sakai-10.x
[submodule "assignment"]
	path = assignment
	url = ../wl-assignment.git
	branch = sakai-10.x
[submodule "authz"]
	path = authz
	url = ../wl-authz.git
	branch = sakai-10.x
[submodule "basiclti"]
	path = basiclti
	url = ../../sakai-mirror/basiclti.git
	branch = sakai-10.x
[submodule "calendar"]
	path = calendar
	url = ../../sakai-mirror/calendar.git
	branch = sakai-10.x
[submodule "chat"]
	path = chat
	url = ../../sakai-mirror/chat.git
	branch = sakai-10.x
[submodule "citations"]
	path = citations
	url = ../wl-citations.git
	branch = sakai-10.x
[submodule "config"]
	path = config
	url = ../wl-config.git
	branch = sakai-10.x
[submodule "content"]
	path = content
	url = ../wl-content.git
	branch = sakai-10.x
[submodule "courier"]
	path = courier
	url = ../../sakai-mirror/courier.git
	branch = sakai-10.x
[submodule "dav"]
	path = dav
	url = ../wl-dav.git
	branch = sakai-10.x
[submodule "gradebook"]
	path = gradebook
	url = ../wl-gradebook.git
	branch = sakai-10.x
[submodule "help"]
	path = help
	url = ../../sakai-mirror/help.git
	branch = sakai-10.x
[submodule "lessonbuilder"]
	path = lessonbuilder
	url = ../../sakai-mirror/lessonbuilder.git
	branch = sakai-10.x
[submodule "login"]
	path = login
	url = ../wl-login.git
	branch = sakai-10.x
[submodule "mailarchive"]
	path = mailarchive
	url = ../wl-mailarchive.git
	branch = sakai-10.x
[submodule "mailsender"]
	path = mailsender
	url = ../wl-mailsender.git
	branch = sakai-10.x
[submodule "memory"]
	path = memory
	url = ../../sakai-mirror/memory.git
	branch = sakai-10.x
[submodule "message"]
	path = message
	url = ../../sakai-mirror/message.git
	branch = sakai-10.x
[submodule "metaobj"]
	path = metaobj
	url = ../wl-metaobj.git
	branch = sakai-10.x
[submodule "msgcntr"]
	path = msgcntr
	url = ../wl-msgcntr.git
	branch = sakai-10.x
[submodule "pack"]
	path = pack
	url = ../wl-pack.git
	branch = sakai-10.x
[submodule "podcasts"]
	path = podcasts
	url = ../../sakai-mirror/podcasts.git
	branch = sakai-10.x
[submodule "polls"]
	path = polls
	url = ../wl-polls.git
	branch = sakai-10.x
[submodule "portal"]
	path = portal
	url = ../wl-portal.git
	branch = sakai-10.x
[submodule "postem"]
	path = postem
	url = ../../sakai-mirror/postem.git
	branch = sakai-10.x
[submodule "presence"]
	path = presence
	url = ../../sakai-mirror/presence.git
	branch = sakai-10.x
[submodule "profile2"]
	path = profile2
	url = ../wl-profile2.git
	branch = sakai-10.x
[submodule "providers"]
	path = providers
	url = ../wl-providers.git
	branch = sakai-10.x
[submodule "reference"]
	path = reference
	url = ../wl-reference.git
	branch = sakai-10.x
[submodule "reset-pass"]
	path = reset-pass
	url = ../wl-reset-pass.git
	branch = sakai-10.x
[submodule "rights"]
	path = rights
	url = ../../sakai-mirror/rights.git
	branch = sakai-10.x
[submodule "rwiki"]
	path = rwiki
	url = ../wl-rwiki.git
	branch = sakai-10.x
[submodule "search"]
	path = search
	url = ../wl-search.git
	branch = sakai-10.x
[submodule "sections"]
	path = sections
	url = ../../sakai-mirror/sections.git
	branch = sakai-10.x
[submodule "shortenedurl"]
	path = shortenedurl
	url = ../../sakai-mirror/shortenedurl.git
	branch = sakai-10.x
[submodule "signup"]
	path = signup
	url = ../wl-signup.git
	branch = sakai-10.x
[submodule "site"]
	path = site
	url = ../wl-site.git
	branch = sakai-10.x
[submodule "site-manage"]
	path = site-manage
	url = ../wl-site-manage.git
	branch = sakai-10.x
[submodule "sitestats"]
	path = sitestats
	url = ../wl-sitestats.git
	branch = sakai-10.x
[submodule "syllabus"]
	path = syllabus
	url = ../wl-syllabus.git
	branch = sakai-10.x
[submodule "taggable"]
	path = taggable
	url = ../../sakai-mirror/taggable.git
	branch = sakai-10.x
[submodule "textarea"]
	path = textarea
	url = ../../sakai-mirror/textarea.git
	branch = sakai-10.x
[submodule "tool"]
	path = tool
	url = ../wl-tool.git
	branch = sakai-10.x
[submodule "user"]
	path = user
	url = ../wl-user.git
	branch = sakai-10.x
[submodule "usermembership"]
	path = usermembership
	url = ../../sakai-mirror/usermembership.git
	branch = sakai-10.x
[submodule "velocity"]
	path = velocity
	url = ../../sakai-mirror/velocity.git
	branch = sakai-10.x
[submodule "warehouse"]
	path = warehouse
	url = ../../sakai-mirror/warehouse.git
	branch = sakai-10.x
[submodule "web"]
	path = web
	url = ../wl-web.git
	branch = sakai-10.x

# Sakai 10 additions
[submodule "roster2"]
	path = roster2
	url = ../../sakai-mirror/roster2.git
	branch = sakai-10.x
[submodule "hierarchy"]
	path = hierarchy
	url = ../../sakai-mirror/hierarchy.git
	branch = sakai-10.x
[submodule "delegatedaccess"]
	path = delegatedaccess
	url = ../../sakai-mirror/delegatedaccess.git
	branch = sakai-10.x

# Etudes projects
[submodule "mneme"]
	path = mneme
	url = ../wl-mneme.git
	branch = sakai-10.x
[submodule "ambrosia"]
	path = ambrosia
	url = ../wl-ambrosia.git
	branch = sakai-10.x
[submodule "etudes-util"]
	path = etudes-util
	url = ../wl-etudes-util.git
	branch = sakai-10.x

# Contrib
[submodule "evaluation"]
	path = evaluation
	url = ../wl-evaluation.git
	branch = sakai-10.x
[submodule "oauth"]
	path = oauth
	url = ../wl-oauth.git
[submodule "external-groups"]
	path = external-groups
	url = ../wl-external-groups.git
[submodule "tetraelf-hierarchy"]
	path = tetraelf-hierarchy
	url = ../wl-tetraelf-hierarchy.git
[submodule "oxam"]
	path = oxam
	url = ../wl-oxam
[submodule "sirlouie"]
	path = sirlouie
	url = ../wl-sirlouie
	branch = origin/sakai-10.x
[submodule "turnitin"]
	path = turnitin
	url = ../wl-turnitin
[submodule "termdates"]
	path = termdates
	url = ../wl-termdates
[submodule "feedback"]
	path = feedback
	url = ../wl-feedback
[submodule "admin-reporting"]
	path = admin-reporting
	url = ../wl-admin-reporting.git
[submodule "content-sync"]
	path = content-sync
	url = ../wl-content-sync.git
[submodule "oxford-url-shortener"]
	path = oxford-url-shortener
	url = ../wl-oxford-url-shortener.git
