[submodule "alias"]
	path = alias
	url = ../../sakai-mirror/alias.git
[submodule "announcement"]
	path = announcement
	url = ../wl-announcement.git
[submodule "assignment"]
	path = assignment
	url = ../wl-assignment.git
[submodule "authz"]
	path = authz
	url = ../wl-authz.git
[submodule "blog"]
	path = blog
	url = ../wl-blog.git
[submodule "calendar"]
	path = calendar
	url = ../wl-calendar.git
[submodule "chat"]
	path = chat
	url = ../../sakai-mirror/chat.git
[submodule "citations"]
	path = citations
	url = ../wl-citations.git
[submodule "content"]
	path = content
	url = ../wl-content.git
[submodule "courier"]
	path = courier
	url = ../../sakai-mirror/courier.git
[submodule "dav"]
	path = dav
	url = ../wl-dav.git
[submodule "gradebook"]
	path = gradebook
	url = ../wl-gradebook.git
[submodule "help"]
	path = help
	url = ../wl-help.git
[submodule "jobscheduler"]
	path = jobscheduler
	url = ../wl-jobscheduler.git
[submodule "login"]
	path = login
	url = ../wl-login.git
[submodule "mailarchive"]
	path = mailarchive
	url = ../wl-mailarchive.git
[submodule "master"]
	path = master
	url = ../wl-master.git
[submodule "message"]
	path = message
	url = ../../sakai-mirror/message.git
[submodule "indie/msgcntr"]
	path = indie/msgcntr
	url = ../wl-msgcntr.git
[submodule "podcasts"]
	path = podcasts
	url = ../wl-podcasts.git
[submodule "portal"]
	path = portal
	url = ../wl-portal.git
[submodule "presence"]
	path = presence
	url = ../../sakai-mirror/presence.git
[submodule "presentation"]
	path = presentation
	url = ../../sakai-mirror/presentation.git
[submodule "privacy"]
	path = privacy
	url = ../../sakai-mirror/privacy.git
[submodule "providers"]
	path = providers
	url = ../wl-providers.git
[submodule "reference"]
	path = reference
	url = ../wl-reference.git
[submodule "reports"]
	path = reports
	url = ../../sakai-mirror/reports.git
[submodule "rights"]
	path = rights
	url = ../../sakai-mirror/rights.git
[submodule "roster"]
	path = roster
	url = ../wl-roster.git
[submodule "rwiki"]
	path = rwiki
	url = ../wl-rwiki.git
[submodule "sakai-mock"]
	path = sakai-mock
	url = ../wl-sakai-mock.git
[submodule "samples"]
	path = samples
	url = ../../sakai-mirror/samples.git
[submodule "search"]
	path = search
	url = ../wl-search.git
[submodule "sections"]
	path = sections
	url = ../../sakai-mirror/sections.git
[submodule "site"]
	path = site
	url = ../wl-site.git
[submodule "site-manage"]
	path = site-manage
	url = ../wl-site-manage.git
[submodule "syllabus"]
	path = syllabus
	url = ../wl-syllabus.git
[submodule "test-harness"]
	path = test-harness
	url = ../../sakai-mirror/test-harness.git
[submodule "textarea"]
	path = textarea
	url = ../wl-textarea.git
[submodule "tool"]
	path = tool
	url = ../wl-tool.git
[submodule "user"]
	path = user
	url = ../wl-user.git
[submodule "velocity"]
	path = velocity
	url = ../../sakai-mirror/velocity.git
[submodule "web"]
	path = web
	url = ../wl-web.git
[submodule "usermembership"]
	path = usermembership
	url = ../../sakai-mirror/usermembership.git
[submodule "access"]
	path = access
	url = ../wl-access.git
[submodule "indie/entitybroker"]
	path = indie/entitybroker
	url = ../wl-entitybroker.git
[submodule "memory"]
	path = memory
	url = ../../sakai-mirror/memory.git
[submodule "extra/hierarchy"]
	path = extras/hierarchy
	url = ../wl-hierarchy.git
[submodule "extra/course-signup"]
    path = extras/course-signup
    url = ../wl-course-signup
[submodule "indie/signup"]
	path = indie/signup
	url = ../wl-signup.git
[submodule "extra/melete"]
	path = extras/melete
	url = ../../sakai-mirror/melete.git
[submodule "extra/evaluation"]
	path = extras/evaluation
	url = ../wl-evaluation.git
[submodule "extra/tetraelf-hierarchy"]
	path = extras/tetraelf-hierarchy
	url = ../wl-tetraelf-hierarchy
[submodule "extra/ambrosia"]
	path = extras/ambrosia
	url = ../wl-ambrosia.git
[submodule "extra/mneme"]
	path = extras/mneme
	url = ../wl-mneme.git
[submodule "extra/etudes-util"]
	path = extras/etudes-util
	url = ../wl-etudes-util.git
[submodule "extra/turnitin"]
	path = extras/turnitin
	url = ../wl-turnitin.git
[submodule "extra/external-groups"]
	path = extras/external-groups
	url = ../wl-external-groups
[submodule "extra/sakai-feeds"]
	path = extras/sakai-feeds
	url = ../wl-sakai-feeds.git
[submodule "indie/local-skins"]
	path = indie/local-skins
	url = ../wl-local-skins
[submodule "indie/kernel"]
	path = indie/kernel
	url = ../wl-kernel.git
[submodule "config"]
	path = config
	url = ../wl-config.git
[submodule "taggable"]
	path = taggable
	url = ../../sakai-mirror/taggable.git
[submodule "extras/oxford-url-shortener"]
	path = extras/oxford-url-shortener
	url = ../wl-oxford-url-shortener.git
[submodule "extras/sirlouie"]
	path = extras/sirlouie
	url = ../wl-sirlouie
[submodule "indie/sakai-feeds"]
	path = indie/sakai-feeds
	url = ../wl-sakai-feeds.git
[submodule "indie/polls"]
	path = indie/polls
	url = ../wl-polls.git
[submodule "archive"]
	path = archive
	url = ../../sakai-mirror/archive.git
[submodule "indie/common"]
	path = indie/common
	url = ../wl-common.git
[submodule "indie/member-profile-provider"]
	path = indie/member-profile-provider
	url = ../wl-member-profile-provider
[submodule "extras/simple-signup-entityprovider"]
	path = extras/simple-signup-entityprovider
	url = ../wl-simple-signup-entityprovider.git
[submodule "extras/content-sync"]
	path = extras/content-sync
	url = ../wl-content-sync.git
[submodule "extras/oxam"]
	path = extras/oxam
	url = ../wl-oxam.git
[submodule "indie/reset-pass"]
	path = indie/reset-pass
	url = ../wl-reset-pass.git
[submodule "indie/profile2"]
	path = indie/profile2
	url = ../wl-profile2.git
[submodule "indie/shortenedurl"]
	path = indie/shortenedurl
	url = ../wl-shortenedurl.git
[submodule "indie/mailsender"]
	path = indie/mailsender
	url = ../wl-mailsender.git
[submodule "indie/basiclti"]
	path = indie/basiclti
	url = ../wl-basiclti.git
[submodule "extras/sitestats"]
	path = extras/sitestats
	url = ../wl-sitestats.git
